.Collabo img{
    width: 80%;
}

.Collabo {
    padding:  5%;
    object-fit: contain;
    margin-top: -12%;
}

.Collabo>ul {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    /* or 53px */


    color: #FFFFFF;

    gap: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
