.nextGen {
  
    overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
}

.nxt___svg {
  position: absolute;
  flex: 1;
  right: 0;
}

.nxt__content {
  flex: 1;
 
  color: white;

 
  width: 100%;
  height: auto;
  padding-left: 5%;
 
}

.nxt__content1 {
  

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 3vw;
  line-height: 130%;
  /* or 101px */
  
  letter-spacing: 0.01em;
}

.nxt__content1 h1{
   
  line-height: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 4.5vw;
}

.nxt__grad {
  position: absolute;
  width: 25vw;
  height: 40vh;
  left: -20vw;
  top: 5%;
  
  background: #FFFFFF;
  filter: blur(225px);

}

.discImg {
  
  width: 40%;

}


.gst {
  position: absolute;
  width: 15vw;
  left: 34%;
  margin-top: -27%

}

.nxt__content2 {
   
  width: 50%;
  height: auto;
   

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size:2vw;
  line-height: 170%;
  /* or 31px */

  margin-top: 5%;
  color: rgba(255, 255, 255, 0.7);
}