.reviews {
    margin: 0 10%;
    color: white;
    overflow-x: hidden;

}

.rv1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5vw;
    flex-wrap: wrap;
}

.rv1 h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;

    line-height: 170%;
    /* or 82px */


    color: #FFFFFF;

}

.rv1 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;

    line-height: 180%;
    /* or 32px */

    letter-spacing: 0.01em;

    color: rgba(255, 255, 255, 0.7);

}

.rv2 ul {
    margin: 3% 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5vw;
    flex-wrap: wrap;
}

.rv2 li {
    color: rgba(0, 217, 245, 0.6);
}

.quote {
    margin: 0 0%;
    font-size: 6vw;
    font-family: 'Times New Roman', Times, serif;
}

.revCard {
    width: 18vw;
    height: auto;
    padding: 5px 6vw;

}

.revCard>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 180%;
    /* or 32px */

    letter-spacing: 0.02em;
    margin-top: -5%;
    color: #FFFFFF;
    width: 20vw;
}

.avatar {
    display: flex;
    align-items: center;

    gap: 20px;
}

.avatar img {
    width: 15%;
    height: auto;
    object-fit: contain;
}

.avatar h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;

    color: #FFFFFF;
}

.avatar p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;

    color: #FFFFFF;

    opacity: 0.5;
    margin-top: -5%;
}


.revCard:hover {
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 1.5vw;
    cursor: pointer;
    color: rgb(0, 225, 255);

}


.rev__gradient {
    position: absolute;
    width: 436.52px;
    height: 544.07px;
    left: 1084.85px;
    top: 2929px;

    background: linear-gradient(90deg, #1A2980 0%, #26D0CE 100%);
    filter: blur(325px);
    border-radius: 200px;
    transform: rotate(47.46deg);
    overflow: hidden;
}